@model CollectionApp.WEB.ViewModels.ItemViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/tagify/tagify.min.css" />

<nav class="mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Collection"
               asp-action="Index"
               asp-route-page="@Context.Request.Cookies["collectionPage"]">
                Collections
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index"
               asp-route-collectionId="@Context.Request.Cookies["collectionId"]"
               asp-route-page="@Context.Request.Cookies["itemPage"]">
                Items
            </a>
        </li>
        <li class="breadcrumb-item active">Item</li>
    </ol>
</nav>
<div class="col-5 mx-auto">
    <form id="collectionForm" class="my-2 needs-validation" method="post" novalidate>
        <div class="mb-3">
            <label class="form-label" asp-for="Name">Name</label>
            <input type="text" class="form-control" asp-for="Name" required />
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Name is required
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="TagsJson">Tags</label>
            <input id="tagsInput" asp-for="TagsJson" value="@Model.TagsJson" required />
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Tags are required
            </div>
        </div>
        @using CollectionApp.WEB.Helpers
        @ItemHelper.AddExtraFields(Html, Model)
        <div class="mb-3">
            <button class="btn btn-primary d-block mx-auto w-50" type="submit">Submit</button>
        </div>
    </form>
</div>

<script src="~/lib/tagify/tagify.min.js"></script>
<script src="~/js/item.js"></script>
