@model CollectionApp.DAL.DTO.Page

<nav class="mb-3">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link"
               asp-action="@(ViewData["Action"] ?? "Index")"
               asp-route-itemId = "@(Context.Request.RouteValues["itemId"])"
               asp-route-page="@(Model.PageNumber-1)"
               asp-route-isLiked = "@(Context.Request.Query["isLiked"])"
               asp-route-isCommented = "@(Context.Request.Query["isCommented"])"
               asp-route-sortOrder = "@(Context.Request.Query["sortOrder"])"
               asp-route-userId = "@ViewData["userId"]">
                Previous
            </a>
        </li>
        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link"
               asp-action="@(ViewData["Action"] ?? "Index")"
               asp-route-itemId = "@(Context.Request.RouteValues["itemId"])"
               asp-route-page="@(Model.PageNumber+1)"
               asp-route-isLiked = "@(Context.Request.Query["isLiked"])"
               asp-route-isCommented = "@(Context.Request.Query["isCommented"])"
               asp-route-sortOrder = "@(Context.Request.Query["sortOrder"])"
               asp-route-userId = "@ViewData["userId"]">
                Next
            </a>
        </li>
    </ul>
</nav>
